*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.side{
    width: 50%;
}
#first{
    display: flex;
    margin-bottom: 80px;
}
#first .left{
    padding: 85px 0;
    margin-top: 80px;
    margin-left: 80px;
}
#first .left h1{
    color: #575757;
    font-size: 50px;
    text-transform: capitalize;
}
#first .left span{
    color: #eb6076;
}
#first .left p{
    color: #575757;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 25px;
}
#first .left a{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-image: linear-gradient(224deg, #eb6076,#d21c1f);
    border-radius: 30px;
    box-shadow: 5px 5px 20px rgba(210, 28, 31, 0.6);
    padding: 20px 40px;
    text-transform: capitalize;
    text-decoration: none;
}
#first .right{
    height: 594px;
    margin-top: 80px;
    margin-right: 80px;
}
#first .right img {
    width: 95%;
    padding: 16px 15px;
}

/* ↓ ↓ ↓ second section↓ ↓ ↓ ↓ */
#second{
    display: flex;
    background-image: url(img/background.jpg);
    background-size: cover;
    margin-bottom: 80px;
}
#second .left{
    margin-left: 80px;
}
#second .left img{
    width: 50%;
    padding: 0 149px;
}
#second .right{
    margin-right: 80px;
    padding: 80px 0;
}
#second .right h1{
    color: #575757;
    font-size: 50px;
    text-transform: capitalize;
}
#second .right p{
    color: #575757;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 70px;
    line-height: 25px;
}
#second .right a{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-image: linear-gradient(224deg, #eb6076,#d21c1f);
    border-radius: 30px;
    box-shadow: 5px 5px 20px rgba(210, 28, 31, 0.6);
    padding: 20px 40px;
    text-transform: capitalize;
    text-decoration: none;
}
/* ↓ ↓ ↓ third ↓ ↓ ↓ */
#third{
    margin-top: 80px;
    margin-bottom: 80px;
    padding-bottom: 80px;
}
#third h2{
    color: #575757;
    font-size: 42px;
    text-align: center;
    text-transform: capitalize;
}
#third .sub-title{
    width: 65%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #252525;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}
.recipies{
    display: flex;
    margin: 0 70px;
}
.recipi{
    width: 345px;
    padding: 15px;
    border-radius: 20px;
    margin: 0 20px;
    box-shadow: 4px 4px 30px rgba(75, 75, 75, 0.2)
}
.recipi img{
    width: 100%;
    border-radius: 20px;
}
.recipi h3{
    color: #575757;
    font-size: 34px;
    margin: 15px 0;
}
.recipi .content{
    color: #575757;
    font-size: 16px;
    padding-bottom: 5px;
    line-height: 25px;
    font-weight: 500;
    text-align: left;
    margin: 0;
}
#fourth{
    width: 90%;
    margin: 0 auto;
}
#fourth h2{
    color: #575757;
    font-size: 42px;
    text-align: center;
    text-transform: capitalize;
}
#fourth .reviews{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}
#fourth .review{
    padding: 15px 20px;
    margin: 0 10px;
    box-shadow: 4px 4px 30px rgba(75, 75, 75, 0.2)
}
#fourth .reviews img{
    width: 100px;
    margin: 0 116px;
    border: 8px solid #eb6076;
    border-radius: 50%;
}
#fourth .review h5{
    color: #d61f25;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0;
}
#fourth .review p{
    color: #575757;
    margin: 0;
    font-size: 16px;
    padding-bottom: 5px;
    line-height: 25px;
    font-weight: 500;
    text-align: center;
}
#fifth{
    width: 80%;
    display: flex;
    margin: 80px auto;
}
#fifth .box{
    padding: 50px 104px;
}
#fifth .box h4{
    font-size: 28px;
    font-weight: 800;
}
#fifth .box p{
    text-transform: capitalize;
}
#footer{    
    background-color: rgb(0, 0, 32);
    padding: 25px 120px 50px;
}
#footer h4{
    color: #575757;
    font-size: 28px;
    margin: 15px 0;
    text-transform: capitalize;
    text-align: center;
}
#footer span{
    color: #d21c1f;
}
#footer p{
    color: #fff;
    text-align: center;
}